/* navbar section */

.box1 > img {
    height: 90px;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    margin-right: 50px;
    height: 20px;
  }
  #nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  #section {
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
  }
  .box1 {
    width: 50%;
    cursor: pointer;
  }
  .box2 {
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
  i {
    color: gray;
    font-size: 25px;
  }
  a {
    text-decoration: none;
    color: gray;
  }

  /* body section */

  #container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    gap: 10px;
    margin: auto;
    margin-top: 25px;
  }
  #container > div > img {
    width: 100%;
  }